/* HomePage.css */

/* custom font import  */

@font-face {
	font-family: 'div1font';
	src: url('../../proxima_nova/Proxima\ Nova\ Bold.otf') format('opentype');
	
  }
  @font-face {
	font-family: 'div2font';
	src: url('../../proxima_nova/Proxima\ Nova\ Thin.otf') format('opentype');
	
  }

/* Base styles for all screen sizes */
.banner-container {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	top: 2%;
	left: 0%;
	overflow: hidden;
}

.banner-image {
	width: 100%;
	height: 750px;
	z-index: 1;
  }

.banner-text {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	position: absolute;
	text-align: center;
	border-radius: 20px;
	padding: 12px 55px 19px 55px;
	z-index: 2;
	bottom: 20px;
	top: 44%;
	left: 50%;
	transform: translateX(-50%);
}

.banner-text p {
	font-size: 17px;
	font-weight: 200;
	color: white;
}

.cta-container {
	background-color: black;
	opacity: 0.8;
	border-radius: 20px;
	padding: 12px 55px 19px 55px;
	margin-bottom: 10px;
	box-shadow: 1px 0px 1px 1px #131313;

}

.cta-container h1 {
	font-size: 29px;
	color: white;
	font-family: 'div1font';
}

.ctaInfo-container {
	background-color: #131313;
	opacity: 0.8;
	border-radius: 20px;
	padding: 10px 33px 12px 34px;
	text-align: center;
	box-shadow: 5px 11px 25px 3px #131313;
}

.ctaInfo-container p {
	font-size: 16px;
	font-weight: 200;
	font-family: 'div2font';
}

.ctadownarrow-container {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	z-index: 2;
	bottom: 45px;
	left: 50%;
	transform: translateX(-50%);
	background-color: #141212bf;
	border-radius: 50%;
	padding: 14px 22px 15px 24px;
}

.fa-down-base {
	color: #ffffff;
	font-size: 52px;
	/* Adjust the icon size as needed */
	transform: scaleY(1.0);
	/* Adjust the value as needed to make it thinner */
}


/* Portfolio */

.our-team {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	background-color: #131313;
	margin: 0 auto;
	max-width: 1410px;
	text-align: center;
	align-items: center;
}

.team-there {
	width: 33.33%;
	margin-top: 90px;
	margin-bottom: 115px;
}

.team-there img {
	max-width: 280px;
	width: 100%;
	height: 391px;
	border-radius: 25px;
}

.team-section-main {
	background-color: #131313;
	width: 100%;
	height: 110vh; 
	z-index: 0;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	top: -1%;
	left: 0%;
	overflow: hidden;
	margin-bottom: -29px;
	right: -100%;
}

/*effects for card */
.team-there:hover {
	transform: scale(1.1);
}
.team-there {
	/* transform: scale(1.2); */
	transition: transform 0.5s;
}
/* HomePage.css */

.homepage-main {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
	 /* Set the height of the container */
  }
  
  .homepage-main section {
	
	scroll-snap-align: start;
  }
  
/* Media query for tablets */
@media (max-width: 768px) {
	.banner-text {
		position: absolute;
		text-align: center;
		border-radius: 20px;
		z-index: 2;
		bottom: 20px;
		top: 45%;
		left: 1%;
		transform: translateX(0%);
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
	}

	.cta-container h1 {
		font-size: 23px;
		color: white;
	}

	.team-there {
		width: 100%;
		margin-top: 80px;
		margin-bottom: 80px;
	}
	.team-there img {
		max-width: 475px;
		width: 100%;
		height: 490px;
	}
}


@media (max-width:480px) {
	

	.cta-container h1 {
		font-size: 16px;
		color: white;
	}
	.cta-container {
		padding: 8px 41px 10px 41px;
	}

	.ctaInfo-container p {
		font-size: 13px;
	}
	.ctaInfo-container {
		padding: 10px 37px 12px 28px;
	}

	.ctadownarrow-container {
		width: 55px !important;
		height: 53px !important;
	}

	.fa-down-base {
		font-size: 34px !important;
	}

	.our-team {
		flex-direction: column;	
		justify-content: space-between;
	}
	.team-there {
		width: 100%;
		flex: 1;
	}

	.team-there img {
		max-width: 392px;
		width: 100%;
		height: 420px;
		align-items: center;
		text-align: center;
		justify-content: space-between;
	}
}