/* font import  */
@font-face {
  font-family: 'navbarfont';
  src: url('../../proxima_nova/ProximaNova-Regular.otf') format('opentype');
  
}


/* Base styles for all screen sizes */
.header-main {
  background-color: #131313;
  height: 103px;
  border-bottom-left-radius: 45px;
  border-bottom-right-radius: 45px;
  box-shadow: 13px 7px 21px 4px #131313;
  position: absolute;
  z-index: 2;
  width: 100%;
}

.headcontain {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
  display: flex;
}

.megaMenu-container {
  width: 94%;
  display: flex;
  flex-wrap: wrap;
  padding: 14px 0px 0px 0px;
  background-color: black;
  border-radius: 100px;
  height: 65px;
  margin-top: 17px;
}

.category-container {
  display: flex;
  border-radius: 20px;
  font-family:'navbarfont'
}

.head-left {
  margin-left: 0px;
}

.head-right {
  margin-right: 25px;
}

a {
  color: white;
  font-size: 24px;
  opacity: 0.5;
}


.content-in:hover {
  opacity: 1;
}

li {
  padding: 0px 25px;
}

.lang-switch {
  font-size: 16px;
}

.lang-lev1 {
  padding-left: 11px;
  padding-right: 0px;
  padding-top: 6px;
}

.logo-container {
  display: flex;
  width: 12%;
  margin-top: 10px;
  flex-wrap: wrap;
}

.logo-container img {
  width: 140px;
  height: 77px;
}
.logo-container video {
  width: 140px;
  height: 77px;
  justify-content: flex-end;
}

.header-banner {
  position: relative;
  overflow: hidden;
  width: 100%;
}

/* Media query for tablets */
@media (max-width: 768px) {
  .megaMenu-container {
    /* Adjust styles for tablets */
    /* For example, reduce padding or font size */
    width: 85%;
    margin-left: 23px;
  }

  .head-right {
    display: none;
  }

  .logo-container {
    width: 15%;
  }
}

/* Media query for mobile devices */
@media (max-width: 480px) {
  .megaMenu-container {
    width: 75%;
    justify-content: center;
  }
  .logo-container {
    width: 25%;
  }
  .category-container {
    flex-direction: column;
  }
  

  li {
    padding: 10px 0;
    /* Add spacing between menu items */
  }
  
}